{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
    <div style = "padding-bottom: 15px">
        <a href = "/password"><button class="btn btn-primary" type = "button">Change password</button></a>
    </div>
    <div style = "padding-bottom: 15px">
        <a href = "/username"><button class="btn btn-primary" type="button">Change username</button></a>
    </div>
    <div>
        <a href = "/cash"><button class="btn btn-primary" type="button">Manage cash</button></a>
    <div>
{% endblock %}